
{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Attach to CRA",
      "type": "chrome",
      "request": "attach",
      "port": 9222,
      "webRoot": "${workspaceFolder}/src",
      "url": "http://localhost:3000",
      "sourceMapPathOverrides": {
        "webpack:///src/*": "${webRoot}/*"
      }
    }
  ]
}
